<section id="sub">
  <article class="visual about">
    <strong class="block768">ABOUT</strong>
    <h2>사물과 AI를 결합해<br><b>새로운 가치를 발견</b>합니다</h2>
    <div class="button block768">
      <img src="../img/sub/visual_down.png">
      <span>스크롤하여 더보기</span>
    </div>
  </article>
  <article class="about_box">
    <div class="greeting" id="vision">
      <div class="wrap">
        <h3>“AI·임베디드 융합시스템으로 초연결 지능화<br> 사회에 안전과 편의를 창출하겠습니다.”</h3>
        <div class="ceo">
          <b></b>
          <p>김성준<span>대표이사</span></p>
        </div>
      </div>
    </div>

    <div class="overview" id="overview">
      <div class="wrap">
        <div class="title">
          <p>기업개요</p>
          <span>비트플로는 AI 컴퓨터비전 기술을 융합한 다양한 솔루션과<br> 서비스를 제공하는 소프트웨어 기업입니다.</span>
        </div>
        <ol>
          <li>
            <div class="icon"><img src="../img/sub/about_overview1.png"></div>
            <div class="txt">
              <p>비트플로 주식회사<br>(Bitflow Inc.)</p>
              <span>회사명</span>
            </div>
          </li>
          <li>
            <div class="icon"><img src="../img/sub/about_overview3.png"></div>
            <div class="txt">
              <p>2019. 9. 19</p>
              <span>설립일</span>
            </div>
          </li>
        <li>
            <div class="icon"><img src="../img/sub/about_overview8.png"></div>
            <div class="txt">
                <p>특허 7, 상표 7, 저작권 1</p>
                <span>지식재산권</span>
            </div>
        </li>
          <!--
          <li>
            <div class="icon"><img src="../img/sub/about_overview6.png"></div>
            <div class="txt">
              <p>8명</p>
              <span>팀 구성원</span>
            </div>
          </li>
          <li>
            <div class="icon"><img src="../img/sub/about_overview4.png"></div>
            <div class="txt">
              <p>?천만원</p>
              <span>자본금</span>
            </div>
          </li>
          <li>
            <div class="icon"><img src="../img/sub/about_overview2.png"></div>
            <div class="txt">
              <p>?억원</p>
              <span>매출액</span>
            </div>
          </li>
          -->
        </ol>
      </div>
    </div>

    <div class="history" id="history">
      <div class="wrap">
        <div class="title">
          <p>회사 연혁</p>
        </div>
        <div class="graph">
          <ul>
            <li>
              <strong>2021</strong>
              <ol>
                <li class="right">
                  <p>주요성과</p>
                  <span>한국 인공지능협회 AI TECH 기업 인증<br>NIA ‘초연결 지능화 D.N.A 분야 180대 혁신기업’ 선정<br>기업부설연구소 설립<br>서울시 SBA 기술상용화 사업 선정<br>중기부 창업진흥원 초기창업패키지 선정<br>삼성전자 C-Lab 12기 선정<br>벤처기업 인증</span>
                </li>
                <li class="left">
                  <p>주요사업</p>
                  <span>우이신설경전철 정보시스템 유지보수<br>의정부경전철 정보시스템 유지보수</span>
                </li>
              </ol>
            </li>
            <li>
              <strong>2020</strong>
              <ol>
                <li class="right">
                  <p>주요성과</p>
                  <span>중기부 TIPA 디딤돌 창업과제 선정<br>중기부 ‘AI 테스트베드코리아’ 대상 (장관상)</span>
                </li>
                <li class="left">
                  <p>주요사업</p>
                  <span>삼우 CM 건축사무소 홈페이지 리뉴얼<br>DB 금융투자 CMS 구축<br>DB 금융투자 해외주식 UX/UI<br>우이신설경전철 정보시스템 유지보수 계약<br>의정부경전철 정보시스템 유지보수 계약<br>체인지포인트 시각지능 화폐인식 프로젝트</span>
                </li>
              </ol>
            </li>
            <li>
              <strong>2019</strong>
              <ol>
                <li class="right">
                  <p>주요성과</p>
                  <span>창업진흥원 이스라엘 글로벌 엑셀러레이션 선정</span>
                </li>
                <li class="left">
                  <p>주요사업</p>
                  <span>한국감정평가사협회 블록체인 전자문서화</span>
                </li>
              </ol>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="awards" id="awards">
      <div class="wrap">
        <div class="title">
          <p>인증 및 수상</p>
        </div>
        <div class="swiper-container awards_swiper awards_swiper-pc none768">
          <ul class="swiper-wrapper">

            <li class="swiper-slide">
              <img src="../img/main/awards1.jpg">
              <p>중기부 AI 테스트베드 코리아 대상</p>
              <span>2020년에 중기부 AI 테스트베드 코리아에서 대상인 장관상을 수상</span>
            </li>
            <li class="swiper-slide">
              <img src="../img/main/awards5.jpg">
              <p>임베디드산업협회 포상</p>
              <span>2021 임베디드산업협회<br> 유공 포상 수상</span>
            </li>
            <li class="swiper-slide">
              <img src="../img/main/awards2.jpg">
              <p>AI 테크 기업 인증</p>
              <span>2020 한국인공지능협회<br> AI 테크 기업 인증</span>
            </li>
            <li class="swiper-slide">
              <img src="./img/main/awards4.jpg">
              <p>벤처기업 인증</p>
              <span>2021 벤처기업산업협회<br> 혁신형 벤처기업 인증</span>
            </li>
            <li class="swiper-slide">
              <img src="./img/main/awards3.jpg">
              <p>기업부설연구소 인정</p>
              <span>2020 한국산업기술진흥협회<br> 기업부설연구소 인정</span>
            </li>
          </ul>
          <div class="swiper-button-next-awards"></div>
          <div class="swiper-button-prev-awards"></div>
        </div>
        <div class="swiper-container awards_swiper awards_swiper-mobile block768">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img src="../img/main/awards1.jpg">
              <p>AI 테스트베드 코리아</p>
              <span>2020 중기부 AI 테스트베드 코리아 대상</span>
            </li>
            <li class="swiper-slide">
              <img src="../img/main/awards5.jpg">
              <p>임베디드산업협회 포상</p>
              <span>2021 임베디드산업협회<br> 유공 포상 수상</span>
            </li>
            <li class="swiper-slide">
              <img src="../img/main/awards2.jpg">
              <p>AI 테크 기업 인증</p>
              <span>2020 한국인공지능협회<br> AI 테크 기업 인증</span>
            </li>
            <li class="swiper-slide">
              <img src="./img/main/awards4.jpg">
              <p>벤처기업 인증</p>
              <span>2021 벤처기업산업협회<br> 혁신형 벤처기업 인증</span>
            </li>
            <li class="swiper-slide">
              <img src="./img/main/awards3.jpg">
              <p>기업부설연구소 인정</p>
              <span>2020 한국산업기술진흥협회<br> 기업부설연구소 인정</span>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <script>
    var awards_swiper = new Swiper(".awards_swiper-pc", {
      spaceBetween: 0,
      slidesPerView: 'auto',
      centeredSlides: false,
      navigation: {
        nextEl: ".swiper-button-next-awards",
        prevEl: ".swiper-button-prev-awards",
      },
    });

    var awards_swiper_mobile = new Swiper(".awards_swiper-mobile", {
      spaceBetween: 0,
      slidesPerView: 'auto',
      centeredSlides: true,
    });
    </script>

    <div class="business" id="business">
      <div class="wrap">
        <div class="title">
          <p>사업분야</p>
          <span>교통, 안전을 포함해<br> 금융 및 의료 분야의<br>산업 업무를 이해하고 있습니다.</span>
        </div>
        <ul>
          <li>
            <div class="img"></div>
            <div class="txt">
              <p>신교통 분야</p>
              <span>도시철도 정보시스템(H/W, N/W, S/W) 정보처리 및 안전감사 대행</span>
            </div>
          </li>
          <li>
            <div class="img"></div>
            <div class="txt">
              <p>안전 분야</p>
              <span>로봇+AI를 통한 안전검사 자동화 솔루션 공급</span>
            </div>
          </li>
          <li>
            <div class="img"></div>
            <div class="txt">
              <p>금융 및 의료 분야</p>
              <span>증권전산, 의료, 유통 등 다양한 분야의 도메인 지식 보유</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="technology" id="technology">
      <div class="wrap">
        <div class="title">
          <p>보유기술</p>
          <span>AI와 임베디드를 접목한 Edge AI 솔루션을 제공하며, 정보시스템 기획, 디자인, GUI, 애플리케이션 구축 및 운영까지 IT 업무 전반을 다룹니다</span>
        </div>
        <div class="image">
          <div class="top">
            <ul>
              <li>
                <div class="img"></div>
                <span>① IT Infra 구축 및 컨설팅<br>② 애플리케이션 서비스 기획</span>
              </li>
              <li>
                <div class="img"></div>
                <span>디자인 및 퍼블리싱<br>Adobe XD, Zeplin, Figma, HTML, CSS, Javascript</span>
              </li>
            </ul>
          </div>
          <div class="bottom">
            <ul>
              <li>
                <div class="img"></div>
                <span>① AI 언어/분석/시각지능 솔루션<br>② 앱/웹/임베디드/데스크탑 애플리케이션<br>③ 공공/기업용 On Demand 소프트웨어 구축 및 자문</span>
              </li>
              <li>
                <div class="img"></div>
                <span>정보시스템 Infra 구축, 운영 및 유지보수(N/W, H/W)</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="organization" id="organization">
      <div class="wrap">
        <div class="title">
          <p>조직도</p>
        </div>
        <div class="graph">
          <ul class="num1">
            <li><span>대표이사</span></li>
            <li><span>경영지원팀</span></li>
          </ul>
          <ul class="num2">
            <li><span>교통/안전 <br class="block768">사업부문</span></li>
            <li><span>솔루션 사업부문</span></li>
          </ul>
          <ul class="num3">
            <li><span>인프라사업팀</span></li>
            <li><span>임베디드/소프트웨어<br>엔지니어링팀</span></li>
            <li><span>융합솔루션팀<br class="block768">(제품 R&D)</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="property" id="iproperties">
      <div class="wrap">
        <div class="title">
          <p>지적재산권</p>
        </div>
        <table class="table none768">
          <colgroup>
            <col style="width:13%;">
            <col style="width:9%;">
            <col style="width:20%;">
            <col style="width:*;">
          </colgroup>
          <thead>
            <tr>
              <th>순번</th>
              <th>구분</th>
              <th>출원번호</th>
              <th>기술명</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>특허</td>
              <td>10-2013-0166822</td>
              <td class="left">(등록) 위험시설 원격 감시 제어시스템 및 방법</td>
            </tr>
            <tr>
              <td>2</td>
              <td>특허</td>
              <td>10-2021-0028559</td>
              <td class="left">(등록) 다양한 종류의 열차 선로에 적용 가능한 선로 이상 탐지 방법</td>
            </tr>
            <tr>
              <td>3</td>
              <td>특허</td>
              <td>10-2012-0019749</td>
              <td class="left">(등록) 고체산화물 연료전지용 단위 셀 및 이를 이용한 고체산화물 연료전지</td>
            </tr>
            <tr>
              <td>4</td>
              <td>특허</td>
              <td>10-2014-0146445</td>
              <td class="left">(등록) 무선전력전송을 통한 이동 로봇의 에너지 전달 방법</td>
            </tr>
            <tr>
              <td>5</td>
              <td>특허</td>
              <td>10-2012-0144964</td>
              <td class="left">(등록) 차량용 블랙박스 시스템 및 그 운용방법</td>
            </tr>
            <tr>
              <td>6</td>
              <td>특허</td>
              <td>10-2014-0090489</td>
              <td class="left">(등록) 스테레오 영상에 대한 변위 지도 생성 방법 및 장치</td>
            </tr>
            <tr>
              <td>7</td>
              <td>특허</td>
              <td>10-2019-0142018</td>
              <td class="left">(등록) 집단 지성 기반의 차량 범죄 분석 시스템을 이용한 차량 범죄 분석 방법</td>
            </tr>
            <tr>
              <td>8</td>
              <td>특허</td>
              <td>10-2021-0177353</td>
              <td class="left">(출원) 자동화 된 선로 이상 탐지 장치</td>
            </tr>
            <tr>
              <td>9</td>
              <td>상표</td>
              <td>40-2019-0121608</td>
              <td class="left">(등록) BITFLOW (09류)</td>
            </tr>
            <tr>
              <td>10</td>
              <td>상표</td>
              <td>40-2019-0121613</td>
              <td class="left">(등록) BITFLOW (36류)</td>
            </tr>
            <tr>
              <td>11</td>
              <td>상표</td>
              <td>40-2019-0121616</td>
              <td class="left">(등록) BITFLOW (42류)</td>
            </tr>
            <tr>
              <td>12</td>
              <td>상표</td>
              <td>40-2021-0118643</td>
              <td class="left">(출원) SLAMX (09류)</td>
            </tr>
            <tr>
              <td>13</td>
              <td>상표</td>
              <td>40-2021-0118644</td>
              <td class="left">(출원) SLAMX (36류)</td>
            </tr>
            <tr>
              <td>14</td>
              <td>상표</td>
              <td>40-2021-0118645</td>
              <td class="left">(출원) SLAMX (42류)</td>
            </tr>
            <tr>
              <td>15</td>
              <td>상표</td>
              <td>40-2021-0244033</td>
              <td class="left">(출원) iDetector (09류)</td>
            </tr>
            <tr>
              <td>16</td>
              <td>저작권</td>
              <td>C-2021-054595</td>
              <td class="left">(등록) 15개국 글로벌 화폐인식 소프트웨어 개발 도구</td>
            </tr>
          </tbody>
        </table>

        <table class="table block768">
          <colgroup>
            <col style="width:25%;">
            <col style="width:50%;">
          </colgroup>
          <thead>
            <tr>
              <th>구분</th>
              <th>출원번호</th>
            </tr>
            <tr>
              <th colspan="2">명칭</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>특허</td>
              <td>10-2014-0146445</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(등록) 무선전력전송을 통한 이동 로봇의 에너지 전달 방법</td>
            </tr>
            <tr>
              <td>특허</td>
              <td>10-2014-0090489</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(등록) 스테레오 영상에 대한 변위 지도 생성 방법 및 장치</td>
            </tr>
            <tr>
              <td>특허</td>
              <td>10-2019-0142018</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(등록) 집단 지성 기반의 차량 범죄 분석 시스템을 이용한 차량 범죄 분석 방법</td>
            </tr>
            <tr>
              <td>특허</td>
              <td>10-2012-0144964</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(등록) 차량용 블랙박스 시스템 및 그 운용방법</td>
            </tr>
            <tr>
              <td>특허</td>
              <td>10-2021-0028559</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(등록) 다양한 종류의 열차 선로에 적용 가능한 선로 이상 탐지 방법</td>
            </tr>
            <tr>
              <td>특허</td>
              <td>10-2021-0028559</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(출원) 다양한 종류의 열차 선로에 적용 가능한 선로 이상 탐지 방법</td>
            </tr>
            <tr>
              <td>특허</td>
              <td>10-2012-0019749</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(등록) 고체산화물 연료전지용 단위 셀 및 이를 이용한 고체산화물 연료전지</td>
            </tr>
            <tr>
              <td>특허</td>
              <td>10-2021-0028559</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(출원) 자동화 된 선로 이상 탐지 장치</td>
            </tr>
            <tr>
              <td>상표</td>
              <td>40-2019-0121608</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(등록) BITFLOW (09류)</td>
            </tr>
            <tr>
              <td>상표</td>
              <td>40-2019-0121613</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(등록) BITFLOW (36류)</td>
            </tr>
            <tr>
              <td>상표</td>
              <td>40-2019-0121616</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(등록) BITFLOW (42류)</td>
            </tr>
            <tr>
              <td>상표</td>
              <td>40-2021-0118643</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(출원) SLAMX (09류)</td>
            </tr>
            <tr>
              <td>상표</td>
              <td>40-2021-0118644</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(출원) SLAMX (36류)</td>
            </tr>
            <tr>
              <td>상표</td>
              <td>40-2021-0118645</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(출원) SLAMX (42류)</td>
            </tr>
            <tr>
              <td>상표</td>
              <td>40-2021-0244033</td>
            </tr>
            <tr class="line">
              <td colspan="2" class="left">(출원) iDetector (09류)</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="brand" id="ci">
      <div class="wrap">
        <div class="title">
          <p>CI</p>
          <span>Bitflow는 초연결지능화사회에서 데이터(Bit)가<br class="block768"> 모든 곳에 흐른다(Flow)라는 의미를 뜻합니다.<br><br class="block768"> 메인 컬러는 C:100 M:0 Y:25 K:0, RGB: #00a9cc 의 밝은 청록색입니다.</span>
          <img src="../img/sub/about_brand_img1.jpg" class="block768">
          <div class="tit_img"></div>
        </div>
        <div class="img">
          <img src="../img/sub/about_brand_img1.jpg" class="none768">
        </div>
      </div>
    </div>

  </article>
</section>
