<section id="sub">
  <article class="visual solution">
    <strong class="block768">SOLUTIONS & SERVICES</strong>
    <h2>혁신적인 솔루션으로 <b>세상을 바꿉니다</b></h2>
    <div class="button block768">
      <img src="../img/sub/visual_down.png">
      <span>스크롤하여 더보기</span>
    </div>
  </article>

  <article class="cityrail_box">
    <div class="tab">
      <div class="wrap">
        <ul>
          <li><a href="./solution.html">인공지능 선로 결함<br class="block1024"> 탐지 시스템</a></li>
          <li class="on"><a href="./cityrail.html">도시철도 유지보수 관리<br class="block1024"> 정보 시스템</a></li>
          <li><a href="#">도시철도<br class="block1024"> 정보시스템</a></li>
          <li><a href="#">온라인<br class="block1024"> 정보시스템</a></li>
        </ul>
      </div>
    </div>

    <div class="mmis">
      <div class="wrap">
        <div class="title">
          <p>도시철도 유지보수 관리정보 시스템 (MMIS)</p>
          <span>6일검사 / 3개월검사 / 4년검사 / 임시검사 / 특별검사 / 일상점검 / 차륜삭정 교환 검사 /<br> 안전점검 / 계절 특별 점검 / 도상 점검 / 궤도 검수 / 하자 점검 등이 이루어집니다.</span>
        </div>
        <ol>
          <li>
            <strong>1</strong>
            <p>차사 검사</p>
            <span>- 평성 36량<br> - 기개발<br> - 리뉴얼 필요<br> (실시간 DB 연동)</span>
          </li>
          <li>
            <strong>2</strong>
            <p>신호 검사</p>
            <span>- 선로 전환기<br> - 신호기<br> - 궤도회로</span>
          </li>
          <li>
            <strong>3</strong>
            <p>통신 검사</p>
            <span>- 주전송 설비<br> - 열차 무선</span>
          </li>
          <li>
            <strong>4</strong>
            <p>건축물 검사</p>
            <span>- 역사 구조물<br> - 터널 구조물<br> - 총연장<br> - 정거장<br> - 차량기지</span>
          </li>
          <li>
            <strong>5</strong>
            <p>궤도 검사</p>
            <span>- 레일 및 분리기</span>
          </li>
          <li>
            <strong>6</strong>
            <p>전기 검사</p>
            <span>- 변전소<br> - 제3궤도 24.85 Km</span>
          </li>
          <li>
            <strong>7</strong>
            <p>기계 검사</p>
            <span>- 승강기<br> - 에스컬레이터<br> - 승강안전문<br> - 공기조화기<br> - 환풍용 송풍기<br> - 본선펌프</span>
          </li>
          <li>
            <strong>8</strong>
            <p>RAMS</p>
          </li>
        </ol>
      </div>
    </div>

    <div class="system">
      <div class="wrap">
        <div class="img block768">
          <div>
            <span><b>MMIS</b>SYSTEM</span>
          </div>
        </div>
        <ul class="ul1">
          <li>
            <strong>공통<br>시스템</strong>
            <ol>
              <li><span>-</span>프레임워크</li>
              <li><span>-</span>시스템 공통 모듈</li>
              <li><span>-</span>사용자 환경</li>
              <li><span>-</span>사용그룹, 권한</li>
              <li><span>-</span>시스템보안</li>
              <li><span>-</span>로그관리 등</li>
            </ol>
          </li>
          <li>
            <strong>RAMS</strong>
            <ol>
              <li><span>-</span>고장관리</li>
              <li><span>-</span>고장분석</li>
              <li><span>-</span>통계데이터</li>
              <li><span>-</span>장애예측 등</li>
            </ol>
          </li>
          <li>
            <strong>안전환경</strong>
            <ol>
              <li><span>-</span>안전관리</li>
              <li><span>-</span>철도 운행 관리</li>
              <li><span>-</span>시설 안전 관리</li>
              <li><span>-</span>산업 안전 관리</li>
              <li><span>-</span>환경관리 등</li>
            </ol>
          </li>
        </ul>
        <div class="img none768">
          <div>
            <span><b>MMIS</b>SYSTEM</span>
          </div>
        </div>
        <ul class="ul2">
          <li>
            <strong>차량 검수</strong>
            <ol>
              <li><span>-</span>차량 정보 관리</li>
              <li><span>-</span>작업 관리</li>
              <li><span>-</span>근무자 관리</li>
              <li><span>-</span>검수기준 관리 등</li>
            </ol>
          </li>
          <li>
            <strong>유지 관리</strong>
            <ol>
              <li><span>-</span>시설물 정보</li>
              <li><span>-</span>고장정보</li>
              <li><span>-</span>시설물 표준</li>
              <li><span>-</span>유지보수<br>지원 관리 등</li>
            </ol>
          </li>
          <li>
            <strong>자재 구매</strong>
            <ol>
              <li><span>-</span>구매발주 관리</li>
              <li><span>-</span>수불 관리</li>
              <li><span>-</span>재고 관리</li>
              <li><span>-</span>결산 관리</li>
              <li><span>-</span>통계 관리 등</li>
            </ol>
          </li>
        </ul>
      </div>
    </div>

    <div class="menu">
      <div class="wrap">
        <div class="img menu1 none768"></div>
        <div class="txt">
          <strong>차량관리 (70메뉴)</strong>
          <span>
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
          </span>
          <div class="img menu1 block768"></div>
          <ul>
            <li>
              <p>구성 부품 관리</p>
              <span>차량을 구성하는 10만여개의 부품 각각의 정비이력을 관리합니다.</span>
            </li>
            <li>
              <p>안정성/신뢰도</p>
              <span>1개의 고장도 치명적 사고를 유발하기에 안정성/신뢰도 지표를 제공합니다.</span>
            </li>
            <li>
              <p>종합 안전 검사</p>
              <span>레포팅 제공으로 국토교통부, 도로교통공사 등 정부 감사 요구 대응에 용이합니다.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="menu gray">
      <div class="wrap">
        <div class="img menu2 none768"></div>
        <div class="txt">
          <strong>구매/자재 관리 (30메뉴)</strong>
          <span>
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
          </span>
          <div class="img menu2 block768"></div>
          <ul>
            <li>
              <p>손쉬운 파악</p>
              <span>어떤 부품이 누구에 의해서, 몇 개가 어떻게 관리되는지 손쉽게 파악합니다.</span>
            </li>
            <li>
              <p>수명/교체주기</p>
              <span>지난 통계를 기반으로 특정 부품의 최대수명, 최소 교체주기를 파악합니다.</span>
            </li>
            <li>
              <p>수량 파악</p>
              <span>치명적 장애시 필요한 부품의 적정 수량 제시, 과다하게 많은 재고를 파악합니다.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="menu">
      <div class="wrap">
        <div class="img menu3 none768"></div>
        <div class="txt">
          <strong>통신/시설/전기/토목 (80메뉴)</strong>
          <span>
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
          </span>
            <div class="img menu3 block768"></div>
          <ul>
            <li>
              <p>이력 관리</p>
              <span>차량 뿐 아니라 철도를 구성하는 모든 시설물의 정비 및 교체 이력을 관리합니다.</span>
            </li>
            <li>
              <p>일정 관리</p>
              <span>작업조 편성 및 일정수립, 고장이력 관리, 보고서 결제가 가능합니다.</span>
            </li>
            <li>
              <p>레포트 추출</p>
              <span>중앙정부 감사 대응 차원의 레포트 추출 기능, 그리고 API가 제공됩니다.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="menu gray">
      <div class="wrap">
        <div class="img menu4 none768"></div>
        <div class="txt">
          <strong>RAMS (9메뉴)</strong>
          <span>
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
            <img src="../img/sub/icon_star.png">
          </span>
          <div class="img menu4 block768"></div>
          <p>
            RAMS 는 시스템 신뢰성 (Reliability), 가용성 (Availability), 유지보수성 (Maintainability), 안전성 (Safety)의 약자로, 열차의 기계, 전자장비 등의 교환/정비 이력 빅데이터에서 도출된 지표를 컴퓨터 알고리즘으로 분석하여 안전성/신뢰성을 예측하고 예방정비를 수행할 수 있게 합니다.
          </p>
        </div>
      </div>
    </div>

    <div class="case">
      <div class="wrap">
        <div class="title">
          <b>도시철도 유지보수 관리 정보 시스템 MMIS</b>
          <p>적용사례</p>
        </div>

        <div class="swiper_case swiper-container">
          <ul class="swiper-wrapper">
            <li class="swiper-slide"><img src="../img/sub/case_img.jpg"></li>
            <li class="swiper-slide"><img src="../img/sub/case_img.jpg"></li>
            <li class="swiper-slide"><img src="../img/sub/case_img.jpg"></li>
          </ul>
          <div class="btn">
            <div class="swiper-button-prev prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next next"></div>
          </div>

        </div>
      </div>
    </div>


  </article>
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
var swiper_case = new Swiper(".swiper_case", {
  spaceBetween: 0,
  slidesPerView: 'auto',
  centeredSlides: true,
  loop: true,
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
    renderBullet: function (index, className) {
      return '<span class="' + className + '">' + (index + 1) + "</span>";
    },
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
});
</script>
