<section id="sub">
  <article class="visual contact">
    <strong class="block768">CONTACT</strong>
    <h2><b>언제나</b> 열려 있습니다</b></h2>
    <div class="button block768">
      <img src="../img/sub/visual_down.png">
      <span>스크롤하여 더보기</span>
    </div>
  </article>

  <article class="contact_box">
    <div class="map" id="way">
      <div class="wrap">
        <ul>
          <li>
            <div class="img">
              <div class="image" id="map1">></div>
              <div class="txt">
                <h3>본사</h3>
                <ol>
                  <li>
                    <b><img src="../img/sub/icon_marker.png"></b>
                    <span><i><a href="http://naver.me/IxDcngmT" target="_blank">서울시 강남구 자곡로 7길 4, 2층, ICT 로봇리빙랩 [06372]</a></i></span>
                  </li>
                  <li>
                    <b><img src="../img/sub/icon_phone.png"></b>
                    <span><a href="tel:070-8857-6265">070-8857-6265</a></span>
                  </li>
                  <li>
                    <b><img src="../img/sub/icon_email.png"></b>
                    <span><a href="mailto:admin@bitflow.ai">admin@bitflow.ai</a></span>
                  </li>
                </ol>
              </div>
            </div>
          </li>
          <li class="right">
            <div class="img">
              <div class="image" id="map2"></div>
              <div class="txt">
                <h3>기업부설연구소</h3>
                <ol>
                  <li>
                    <b><img src="../img/sub/icon_marker.png"></b>
                    <span><i><a href="http://naver.me/xhHJyFhd" target="_blank">서울시 노원구 초안산로 12, 제1공학관 504호 [01878]</a></i></span>
                  </li>
                </ol>
              </div>
            </div>
          </li>
          <li>
            <div class="img">
              <div class="image" id="map3"></div>
              <div class="txt">
                <h3>대구 지점</h3>
                <ol>
                  <li>
                    <b><img src="../img/sub/icon_marker.png"></b>
                    <span><i><a href="http://naver.me/G8UNiLC9" target="_blank">대구광역시 북구 호암로 51, 대구창조경제혁신센터 4층 [41585]</a></i></span>
                  </li>
                </ol>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="facility" id="facility">
      <div class="wrap">
        <div class="title">
          <p>연구개발 시설</p>
        </div>
        <table class="table none768">
          <colgroup>
            <col style="width:13%;">
            <col style="width:9%;">
            <col style="width:20%;">
            <col style="width:*;">
            <col style="width:15%;">
          </colgroup>
          <thead>
            <tr>
              <th>순번</th>
              <th>구분</th>
              <th>종류</th>
              <th>상세</th>
              <th>수량</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>AI</td>
              <td>워크스테이션</td>
              <td class="left">24 Core, NVIDIA RTX 3090 x 1</td>
              <td>1</td>
            </tr>
            <tr>
              <td>2</td>
              <td>AI</td>
              <td>GPU 클라우드</td>
              <td class="left">16 Core, NVIDIA Tesla V100 x 2</td>
              <td>1</td>
            </tr>
            <tr>
              <td>3</td>
              <td>AI</td>
              <td>GPU 클라우드</td>
              <td class="left">24 Core, NVIDIA Tesla T4 x 4</td>
              <td>1</td>
            </tr>
            <tr>
              <td>4</td>
              <td>자율비행</td>
              <td>드론</td>
              <td class="left">F450급 드론 </td>
              <td>1</td>
            </tr>
            <tr>
              <td>5</td>
              <td>자율비행</td>
              <td>드론</td>
              <td class="left">S500급 드론</td>
              <td>2</td>
            </tr>
            <tr>
              <td>6</td>
              <td>자율주행</td>
              <td>로봇</td>
              <td class="left">ROS Wheel Bot</td>
              <td>1</td>
            </tr>
            <tr>
              <td>7</td>
              <td>자율주행</td>
              <td>스테레오 카메라</td>
              <td class="left">Intel RealSense x 3, ZED 2i x 1</td>
              <td>4</td>
            </tr>
            <tr>
              <td>8</td>
              <td>자율주행</td>
              <td>라이다</td>
              <td class="left">Ouster OS0 x 1, OS1 x 1</td>
              <td>2</td>
            </tr>
            <tr>
              <td>9</td>
              <td>임베디드</td>
              <td>임베디드PC</td>
              <td class="left">Neousys POC-515</td>
              <td>2</td>
            </tr>
            <tr>
              <td>10</td>
              <td>임베디드</td>
              <td>임베디드PC</td>
              <td class="left">Nuvo-7160GC, NVIDIA GTX 1650 super x 1</td>
              <td>1</td>
            </tr>
            <tr>
              <td>11</td>
              <td>임베디드</td>
              <td>엣지컴퓨터</td>
              <td class="left">NVIDIA Jetson Nano</td>
              <td>2</td>
            </tr>
            <tr>
              <td>12</td>
              <td>임베디드</td>
              <td>엣지컴퓨터</td>
              <td class="left">NVIDIA Jetson Xavier NX </td>
              <td>2</td>
            </tr>
          </tbody>
        </table>

        <table class="table block768">
          <colgroup>
            <col style="width:32%;">
            <col style="width:50%;">
          </colgroup>
          <thead>
            <tr>
              <th>구분</th>
              <th>종류</th>
            </tr>
          </thead>
          <tbody>
            <tr class="line">
              <td>워크스테이션</td>
              <td class="left">24 Core, NVIDIA RTX 3090 x 1</td>
            </tr>
            <tr class="line">
              <td>GPU 클라우드</td>
              <td class="left">16 Core, NVIDIA Tesla V100 x 2</td>
            </tr>
            <tr class="line">
              <td>GPU 클라우드</td>
              <td class="left">24 Core, NVIDIA Tesla T4 x 4</td>
            </tr>
            <tr class="line">
              <td>드론</td>
              <td class="left">F450급 드론 x 1</td>
            </tr>
            <tr class="line">
              <td>드론</td>
              <td class="left">S500급 드론 x 2</td>
            </tr>
            <tr class="line">
              <td>로봇</td>
              <td class="left">ROS Wheel Bot x 1</td>
            </tr>
            <tr class="line">
              <td>스테레오 카메라</td>
              <td class="left">Intel RealSense x 3, ZED 2i x 1</td>
            </tr>
            <tr class="line">
              <td>라이다</td>
              <td class="left">Ouster OS0 x 1, OS1 x 1</td>
            </tr>
            <tr class="line">
              <td>임베디드PC</td>
              <td class="left">Neousys POC-515 x 2</td>
            </tr>
            <tr class="line">
              <td>임베디드PC</td>
              <td class="left">Nuvo-7160GC, NVIDIA GTX 1650</td>
            </tr>
            <tr class="line">
              <td>엣지컴퓨터</td>
              <td class="left">NVIDIA Jetson Nano x 2</td>
            </tr>
            <tr class="line">
              <td>엣지컴퓨터</td>
              <td class="left">NVIDIA Jetson Xavier NX x 2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="jobs" id="jobs">
      <div class="wrap">
        <div class="title">
          <p>채용정보</p>
        </div>
        <ul>
          <li>
            <div class="icon saramin">
              <div>
                <span><b></b><b></b></span>
                <span><b></b><b></b></span>
              </div>
            </div>
            <b>사람인</b>
            <span>사람인 채용공고 확인하기</span>
            <a href="https://www.saramin.co.kr/zf_user/company-info/view-inner-recruit?csn=bHZUU3kvNUE3V2Fta2kzNjJUczJzUT09" target="_blank">이동<img src="../img/sub/icon_arrow.png"></a>
          </li>
          <li>
            <div class="icon jobkorea">
              <img src="../img/sub/contact_jobkorea.png">
            </div>
            <b>잡코리아</b>
            <span>잡코리아 채용공고 확인하기</span>
            <a href="https://www.jobkorea.co.kr/company/42964919/Recruit" target="_blank">이동<img src="../img/sub/icon_arrow.png"></a>
          </li>
          <li>
            <div class="icon email">
              <img src="../img/sub/contact_email.png">
            </div>
            <b>이메일</b>
            <span>admin@bitflow.ai로 수시 지원하기</span>
            <a href="mailto:admin@bitflow.ai">메일 보내기<img src="../img/sub/icon_arrow.png"></a>
          </li>
        </ul>
      </div>
    </div>

  </article>
</section>

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1ewyt3v33o&amp;submodules=geocoder"></script>
<script>
  var map1Pos = new naver.maps.LatLng(37.47320495891312, 127.10016499983283);
  var map2Pos = new naver.maps.LatLng(37.6318912103314, 127.05401427054572);
  var map3Pos = new naver.maps.LatLng(35.88327968899511, 128.59585894009751);
    var map1 = new naver.maps.Map("map1", {
    center: map1Pos,
    zoom: 13
  }), infoWindow = null;
  var map2 = new naver.maps.Map("map2", {
    center: map2Pos,
    zoom: 13
  }), infoWindow = null;
  var map3 = new naver.maps.Map("map3", {
    center: map3Pos,
    zoom: 13
  }), infoWindow = null;
  var map1Marker = new naver.maps.Marker({
    position: map1Pos,
    map: map1,
  });
  var map2Marker = new naver.maps.Marker({
    position: map2Pos,
    map: map2,
  });
  var map3Marker = new naver.maps.Marker({
    position: map3Pos,
    map: map3,
  });
</script>
