<section id="main">
  <article class="visual">
    <div class="wrap">
      <div class="content">
        <h2>Edge <b>AI</b> for Humanity</h2>
        <p>Secures public health and safety with<br/>artificial intelligence convergence technology</p>
        <div class="btn">
          <a href="/contact">Contact</a>
        </div>
        <div class="button block768">
          <img src="../img/sub/visual_down.png">
        </div>
      </div>
    </div>
  </article>

  <article class="safe">
    <div class="wrap">
      <p class="title">Featured Healthcare Solutions</p>
      <ul>
        <li>
          <div class="img"><img src="./img/main/safe_icon1.png"></div>
          <div class="txt">
            <p>Infectious disease response</p>
            <span>Automated bed allocation system<br class="block768" /> for the COVID-19 pandemic</span>
          </div>
        </li>
        <li>
          <div class="img"><img src="./img/main/safe_icon2.png"></div>
          <div class="txt">
            <p>Dental automation</p>
            <span>Contribute to automating dental work using<br class="block768" /> visual intelligence technology</span>
          </div>
        </li>
        <li>
          <div class="img"><img src="./img/main/safe_icon4.png"></div>
          <div class="txt">
            <p>Medical check-up automation</p>
            <span>Smartphone-based automation system<br class="block768" /> that eliminates the need for nurses<br class="block768" />to carry patients around.</span>
          </div>
        </li>
        <li>
          <div class="img"><img src="./img/main/safe_icon4.png"></div>
          <div class="txt">
            <p>Health food ingredients distribution</p>
            <span>Source & distribute the health food materials<br class="block768" /> from a wide network of suppliers.</span>
          </div>
        </li>
      </ul>
    </div>
  </article>

  <article class="growth">
    <div class="wrap">
      <div class="swiper_growth_img swiper-container none768">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image" style="background-image:url('./img/main/growth_img1.jpg')"></div>
          </div>
          <div class="swiper-slide">
            <div class="image" style="background-image:url('./img/main/growth_img2.jpg')"></div>
          </div>
          <div class="swiper-slide">
            <div class="image" style="background-image:url('./img/main/growth_img3.jpg')"></div>
          </div>
        </div>
      </div>
      <div class="txt none768">
        <p class="title">Constant growth</p>
        <span class="title_sub">Established in 2019, has received numerous awards and certifications and has been growing by taking on various businesses</span>
        <div thumbsSlider="" class="swiper-container swiper_growth_thum">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="image" style="background-image:url('./img/main/growth_img1.jpg')"></div>
            </div>
            <div class="swiper-slide">
              <div class="image" style="background-image:url('./img/main/growth_img2.jpg')"></div>
            </div>
            <div class="swiper-slide">
              <div class="image" style="background-image:url('./img/main/growth_img3.jpg')"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper_growth swiper-container block768">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <img src="./img/main/growth_img1.jpg">
            <p>Constant growth</p>
            <span>Established in 2019, has received numerous awards and certifications and has been growing by taking on various businesses</span>
          </li>
          <li class="swiper-slide">
            <img src="./img/main/growth_img2.jpg">
            <p>Constant growth</p>
            <span>Established in 2019, has received numerous awards and certifications and has been growing by taking on various businesses</span>
          </li>
          <li class="swiper-slide">
            <img src="./img/main/growth_img3.jpg">
            <p>Constant growth</p>
            <span>Established in 2019, has received numerous awards and certifications and has been growing by taking on various businesses</span>
          </li>
        </ul>
      </div>
    </div>
  </article>

  <article class="technology">
    <div class="wrap">
      <div class="txt">
        <p class="title">Information System & Solution Delivery</p>
        <span class="title_sub">We provide SW solutions across healthcare and other industries that incorporate AI technology, and cover all aspects of IT from information system planning, design, GUI, application construction, and operation.</span>
        <span class="title_sub">Also, we source & distribute the health food materials from a wide network of suppliers.</span>
      </div>
      <div class="image">
        <div class="top">
          <ul>
            <li>
              <div class="img"></div>
              <span>① Building, operating, and consulting IT infra.<br>② Planning and designing application services</span>
            </li>
            <li>
              <div class="img"></div>
              <span>Industries: Hospitals, healthcare centers, transportation, securities, etc.</span>
            </li>
          </ul>
        </div>
        <div class="bottom">
          <ul>
            <li>
              <div class="img"></div>
              <span>SW and computer system solutions incorporating AI/blockchain technology</span>
            </li>
            <li>
              <div class="img"></div>
              <span>Healthcare Materials Procurement</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <article class="awards">
    <div class="wrap">
      <div class="tit">
        <p class="title">Certifications and awards</p>
        <!--
        <span class="title_sub">Received numerous awards such as the AI Testbed Korea Grand Prize from the Ministry of SMEs and Startups, the Embedded SW Systems Industry Association Merit Award, AI Tech Company Certification, Venture Certification, etc.</span>
        -->
      </div>
      <ul class="none768">
        <li>
          <div class="img"><img src="./img/main/awards1.jpg"></div>
          <p>AI Testbed korea</p>
          <span>2020 Testbed Korea Grand Prize (Ministry of SMEs, Ministerial Award)</span>
        </li>
        <li>
          <div class="img"><img src="./img/main/awards5.jpg"></div>
          <p>Association awards</p>
          <span>2021 Embedded Software Systems Industry Association Awards</span>
        </li>
        <li>
          <div class="img"><img src="./img/main/awards2.jpg"></div>
          <p>AI technology certification</p>
          <span>2020 Korea Artificial Intelligence Association AI Tech Company Certification</span>
        </li>
        <li>
          <div class="img"><img src="./img/main/awards4.jpg"></div>
          <p>Venture Certification</p>
          <span>Venture Capital Industry Association Innovative Venture Certification</span>
        </li>
        <li>
          <div class="img"><img src="./img/main/awards3.jpg"></div>
          <p>Recognition of Corporate Research Centers</p>
          <span>Recognized as a Corporate Research Institute by the Korea Industrial Technology Association</span>
        </li>
      </ul>
      <div class="swiper_awards swiper-container block768">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="img"><img src="./img/main/awards1.jpg"></div>
            <p>AI Testbed korea</p>
            <span>2020 Testbed Korea Grand Prize (Ministry of SMEs, Ministerial Award)</span>
          </li>
          <li class="swiper-slide">
            <div class="img"><img src="./img/main/awards5.jpg"></div>
            <p>Association awards</p>
            <span>2021 Embedded Software Systems Industry Association Awards</span>
          </li>
          <li class="swiper-slide">
            <div class="img"><img src="./img/main/awards2.jpg"></div>
            <p>AI technology certification</p>
            <span>2020 Korea Artificial Intelligence Association AI Tech Company Certification</span>
          </li>
          <li class="swiper-slide">
            <div class="img"><img src="./img/main/awards4.jpg"></div>
            <p>Venture Certification</p>
            <span>Venture Capital Industry Association Innovative Venture Certification</span>
          </li>
          <li class="swiper-slide">
            <div class="img"><img src="./img/main/awards3.jpg"></div>
            <p>Recognition of Corporate Research Centers</p>
            <span>Recognized as a Corporate Research Institute by the Korea Industrial Technology Association</span>
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>

<!--
<div id="popup-notice" class="pop-layer">
  <div class="pop-container">
    <div class="pop-conts">
      <p class="ctxt mb20"><h2>주식분할로 인한 주권제출공고</h2>
        <br>
        &nbsp;&nbsp;&nbsp;비트플로 주식회사는 2022년 5월 16일 임시주주총회에서 액면가 100원의 보통주식 5주를 액면가 500원의 보통주식 1주로 병합하는 주식분할을 결의 하였습니다.
        <br>&nbsp;&nbsp;&nbsp;이에 따라 당사의 주주 및 채권자는 본 공고 게재일로부터 1개월 이내에 당사 본점에 주권을 제출하여 주시기 바랍니다.
        <br><br><div style="text-align: right">2022년  5월  25일
        <br><br>서울특별시 노원구 초안산로 12, 창업보육실 504호(월계동, 인덕대학교 창업지원단)
        <br><br>비트플로 주식회사<br>대표이사 김성준</div>
      </p>
      <div class="btn-r">
        <a href="javascript:close_popup();" class="btn-layerClose">닫기</a>
      </div>
    </div>
  </div>
</div>
-->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
var swiper_growth = new Swiper(".swiper_growth", {
  spaceBetween: 0,
  slidesPerView: 'auto',
  centeredSlides: true,
});

var swiper_awards = new Swiper(".swiper_awards", {
  spaceBetween: 0,
  slidesPerView: 'auto',
  centeredSlides: true,
});

var swiper_growth_thum = new Swiper(".swiper_growth_thum", {
  spaceBetween: 0,
  slidesPerView: 'auto',
  freeMode: true,
  watchSlidesProgress: true,
});

var swiper_growth_img = new Swiper(".swiper_growth_img", {
  spaceBetween: 0,
  thumbs: {
    swiper: swiper_growth_thum,
  },
});

function close_popup() {
  document.getElementById('popup-notice').style.display = 'none'
}
</script>
