<section id="main">
  <article class="visual">
    <div class="wrap">
      <div class="content">
        <h2>Edge <b>AI</b> for Autonomy</h2>
        <p>비트플로는 인공지능 융합기술로<br>국민 안전을 확보하고 업무 효율을 향상시킵니다</p>
        <div class="btn">
          <a href="/contact">연락하기</a>
        </div>
        <div class="button block768">
          <img src="../img/sub/visual_down.png">
        </div>
      </div>
    </div>
  </article>

  <article class="safe">
    <div class="wrap">
      <p class="title">주요 솔루션</p>
      <ul>
        <li>
          <div class="img"><img src="./img/main/safe_icon1.png"></div>
          <div class="txt">
            <p>도시철도 유지보수관리시스템</p>
            <span>경력 10년 이상의 철도 전문가들이 개발한, <br class="block768">운영사가 필요로하는 유지보수관리 정보시스템</span>
          </div>
        </li>
        <li>
          <div class="img"><img src="./img/main/safe_icon2.png"></div>
          <div class="txt">
            <p>AI 선로결함 탐지시스템</p>
            <span>인공지능 기술을 이용하여 선로 결함을 탐지, <br class="block768">철도 안전을 보장</span>
          </div>
        </li>
        <li>
          <div class="img"><img src="./img/main/safe_icon3.png"></div>
          <div class="txt">
            <p>정보시스템 운영 및 유지보수</p>
            <span>경력 15년 이상의 시스템 전문가들이, <br class="block768">정보시스템을 안전하게 관리 및 보고</span>
          </div>
        </li>
        <li>
          <div class="img"><img src="./img/main/safe_icon4.png"></div>
          <div class="txt">
            <p>온라인 도움말 시스템</p>
            <span>복잡한 웹사이트를 쉽게 사용할 수 있게,<br class="block768">트리구조의 사용자친화적 도움말시스템 제공</span>
          </div>
        </li>
      </ul>
    </div>
  </article>

  <article class="growth">
    <div class="wrap">
      <div class="swiper_growth_img swiper-container none768">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image" style="background-image:url('./img/main/growth_img1.jpg')"></div>
          </div>
          <div class="swiper-slide">
            <div class="image" style="background-image:url('./img/main/growth_img2.jpg')"></div>
          </div>
          <div class="swiper-slide">
            <div class="image" style="background-image:url('./img/main/growth_img3.jpg')"></div>
          </div>
        </div>
      </div>
      <div class="txt none768">
        <p class="title">비트플로는 지속적으로<br> 성장합니다</p>
        <span class="title_sub">2019년 설립 후, 다수의 수상과 인증을 받고 <br> 다양한 사업을 맡아 성장하고 있습니다</span>
        <div thumbsSlider="" class="swiper-container swiper_growth_thum">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="image" style="background-image:url('./img/main/growth_img1.jpg')"></div>
            </div>
            <div class="swiper-slide">
              <div class="image" style="background-image:url('./img/main/growth_img2.jpg')"></div>
            </div>
            <div class="swiper-slide">
              <div class="image" style="background-image:url('./img/main/growth_img3.jpg')"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper_growth swiper-container block768">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <img src="./img/main/growth_img1.jpg">
            <p>우리 회사는 지속적으로<br> 성장합니다.</p>
            <span>2019년 창립 이후로 우리 회사는 다양한 수상과 인증을 받고, 여러 주요 사업을 맡으면서 성장했습니다.</span>
          </li>
          <li class="swiper-slide">
            <img src="./img/main/growth_img2.jpg">
            <p>우리 회사는 지속적으로<br> 성장합니다.</p>
            <span>2019년 창립 이후로 우리 회사는 다양한 수상과 인증을 받고, 여러 주요 사업을 맡으면서 성장했습니다.</span>
          </li>
          <li class="swiper-slide">
            <img src="./img/main/growth_img3.jpg">
            <p>우리 회사는 지속적으로<br> 성장합니다.</p>
            <span>2019년 창립 이후로 우리 회사는 다양한 수상과 인증을 받고, 여러 주요 사업을 맡으면서 성장했습니다.</span>
          </li>
        </ul>
      </div>
    </div>
  </article>

  <article class="technology">
    <div class="wrap">
      <div class="txt">
        <p class="title">정보시스템 Lifecycle<br> 솔루션 제공</p>
        <span class="title_sub">AI와 임베디드를 접목한 Edge AI 솔루션을 제공하며, 정보시스템 기획, 디자인, GUI, 애플리케이션 구축 및 운영까지 IT 업무 전반을 다룹니다</span>
      </div>
      <div class="image">
        <div class="top">
          <ul>
            <li>
              <div class="img"></div>
              <span>① IT Infra 구축 및 컨설팅<br>② 애플리케이션 서비스 기획</span>
            </li>
            <li>
              <div class="img"></div>
              <span>디자인 및 퍼블리싱<br>Adobe XD, Zeplin, Figma, HTML, CSS, Javascript</span>
            </li>
          </ul>
        </div>
        <div class="bottom">
          <ul>
            <li>
              <div class="img"></div>
              <span>① AI 언어/분석/시각지능 솔루션<br>② 앱/웹/임베디드/데스크탑 애플리케이션<br>③ 공공/기업용 On Demand 소프트웨어 구축 및 자문</span>
            </li>
            <li>
              <div class="img"></div>
              <span>정보시스템 Infra 구축, 운영 및 유지보수(N/W, H/W)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <article class="awards">
    <div class="wrap">
      <div class="tit">
        <p class="title">인증 및 수상</p>
        <span class="title_sub">2019년 설립 후, 중기부 AI 테스트베드 코리아 대상, <br>임베디드산업협회 유공 포상, AI 테크기업 인증 및 벤처 인증 등 다수의 성과 도출</span>
      </div>
      <ul class="none768">
        <li>
          <div class="img"><img src="./img/main/awards1.jpg"></div>
          <p>AI 테스트베드 코리아</p>
          <span>2020 중기부 AI 테스트베드 코리아 대상(장관상) 수상</span>
        </li>
        <li>
          <div class="img"><img src="./img/main/awards5.jpg"></div>
          <p>임베디드산업협회 포상</p>
          <span>2021 임베디드산업협회<br> 유공 포상 수상</span>
        </li>
        <li>
          <div class="img"><img src="./img/main/awards2.jpg"></div>
          <p>AI 테크 기업 인증</p>
          <span>2020 한국인공지능협회<br> AI 테크 기업 인증</span>
        </li>
        <li>
          <div class="img"><img src="./img/main/awards4.jpg"></div>
          <p>벤처기업 인증</p>
          <span>2021 벤처기업산업협회<br> 혁신형 벤처기업 인증</span>
        </li>
        <li>
          <div class="img"><img src="./img/main/awards3.jpg"></div>
          <p>기업부설연구소 인정</p>
          <span>2020 한국산업기술진흥협회<br> 기업부설연구소 인정</span>
        </li>
      </ul>
      <div class="swiper_awards swiper-container block768">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="img"><img src="./img/main/awards1.jpg"></div>
            <p>AI 테스트베드 코리아</p>
            <span>2020 중기부 AI 테스트베드 코리아 대상</span>
          </li>
          <li class="swiper-slide">
            <div class="img"><img src="./img/main/awards5.jpg"></div>
            <p>임베디드산업협회 포상</p>
            <span>2021년 임베디드산업협회<br> 유공 포상 수상</span>
          </li>
          <li class="swiper-slide">
            <div class="img"><img src="./img/main/awards2.jpg"></div>
            <p>AI 테크 기업 인증</p>
            <span>2020 한국인공지능협회<br> AI 테크 기업 인증</span>
          </li>
          <li class="swiper-slide">
            <div class="img"><img src="./img/main/awards4.jpg"></div>
            <p>벤처기업 인증</p>
            <span>2021년 벤처기업산업협회<br> 혁신형 벤처기업 인증</span>
          </li>
          <li class="swiper-slide">
            <div class="img"><img src="./img/main/awards3.jpg"></div>
            <p>기업부설연구소 인정</p>
            <span>2020 한국산업기술진흥협회<br> 기업부설연구소 인정</span>
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
var swiper_growth = new Swiper(".swiper_growth", {
  spaceBetween: 0,
  slidesPerView: 'auto',
  centeredSlides: true,
});

var swiper_awards = new Swiper(".swiper_awards", {
  spaceBetween: 0,
  slidesPerView: 'auto',
  centeredSlides: true,
});

var swiper_growth_thum = new Swiper(".swiper_growth_thum", {
  spaceBetween: 0,
  slidesPerView: 'auto',
  freeMode: true,
  watchSlidesProgress: true,
});

var swiper_growth_img = new Swiper(".swiper_growth_img", {
  spaceBetween: 0,
  thumbs: {
    swiper: swiper_growth_thum,
  },
});
</script>
