<section id="sub">
  <article class="visual press">
    <strong class="block768">PRESS</strong>
    <h2>수많은 사람들이 <b>주목하고 있습니다</b></h2>
    <div class="button block768">
      <img src="../img/sub/visual_down.png">
      <span>스크롤하여 더보기</span>
    </div>
  </article>

  <article class="press_box">
    <div class="press">
      <div class="wrap">
        <div class="title">
          <p>보도자료</p>
        </div>
        <div class="swiper-container swiper-press block768">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <a href="#">
                <div class="img" style="background-image:url('../img/sub/press1.png');"></div>
                <div class="txt">
                  <p>[ZDNET] AA수상</p>
                  <span>AA수상관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
                </div>
              </a>
            </li>
            <li class="swiper-slide">
              <a href="#">
                <div class="img" style="background-image:url('../img/sub/press2.png');"></div>
                <div class="txt">
                  <p>[전자신문] 투자소식</p>
                  <span>투자소식관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
                </div>
              </a>
            </li>
            <li class="swiper-slide">
              <a href="#">
                <div class="img" style="background-image:url('../img/sub/press3.png');"></div>
                <div class="txt">
                  <p>[매일경제] 극찬기업</p>
                  <span>극찬기업 관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
                </div>
              </a>
            </li>
            <li class="swiper-slide">
              <a href="#">
                <div class="img" style="background-image:url('../img/sub/press4.png');"></div>
                <div class="txt">
                  <p>[한국일보] 교통안전은 교통안전은</p>
                  <span>교통안전은 관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
                </div>
              </a>
            </li>
            <li class="swiper-slide">
              <a href="#">
                <div class="img" style="background-image:url('../img/sub/press5.png');"></div>
                <div class="txt">
                  <p>[ZDNET] AA수상</p>
                  <span>AA수상관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
                </div>
              </a>
            </li>
            <li class="swiper-slide">
              <a href="#">
                <div class="img" style="background-image:url('../img/sub/press6.png');"></div>
                <div class="txt">
                  <p>[전자신문] 투자소식</p>
                  <span>투자소식관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
                </div>
              </a>
            </li>
            <li class="swiper-slide">
              <a href="#">
                <div class="img" style="background-image:url('../img/sub/press7.png');"></div>
                <div class="txt">
                  <p>[매일경제] 극찬기업</p>
                  <span>극찬기업 관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
                </div>
              </a>
            </li>
            <li class="swiper-slide">
              <a href="#">
                <div class="img" style="background-image:url('../img/sub/press8.png');"></div>
                <div class="txt">
                  <p>[한국일보] 교통안전은 교통안전은</p>
                  <span>교통안전은 관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다. </span>
                </div>
              </a>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
        </div>
        <script>
          var swiper_press = new Swiper(".swiper-press", {
            slidesPerView: 'auto',
            spaceBetween: 0,
            pagination: {
              el: ".swiper-pagination",
            },
          });
        </script>

        <ul class="none768">
          <li>
            <a href="#">
              <div class="img" style="background-image:url('../img/sub/press1.png');"></div>
              <div class="txt">
                <p>[ZDNET] AA수상</p>
                <span>AA수상관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img" style="background-image:url('../img/sub/press2.png');"></div>
              <div class="txt">
                <p>[전자신문] 투자소식</p>
                <span>투자소식관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img" style="background-image:url('../img/sub/press3.png');"></div>
              <div class="txt">
                <p>[매일경제] 극찬기업</p>
                <span>극찬기업 관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img" style="background-image:url('../img/sub/press4.png');"></div>
              <div class="txt">
                <p>[한국일보] 교통안전은 교통안전은</p>
                <span>교통안전은 관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img" style="background-image:url('../img/sub/press5.png');"></div>
              <div class="txt">
                <p>[ZDNET] AA수상</p>
                <span>AA수상관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img" style="background-image:url('../img/sub/press6.png');"></div>
              <div class="txt">
                <p>[전자신문] 투자소식</p>
                <span>투자소식관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img" style="background-image:url('../img/sub/press7.png');"></div>
              <div class="txt">
                <p>[매일경제] 극찬기업</p>
                <span>극찬기업 관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img" style="background-image:url('../img/sub/press8.png');"></div>
              <div class="txt">
                <p>[한국일보] 교통안전은 교통안전은</p>
                <span>교통안전은 관련 내용이 들어가면 됩니다. 관련 내용이 들어갑니다. </span>
              </div>
            </a>
          </li>
        </ul>

        <div class="pagination none768">
          <ol>
            <li>
              <a href="#" class="prev"><</a>
            </li>
            <li>
              <a href="#" class="on">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#" class="next">></a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </article>
</section>
