<section id="sub">
  <article class="visual solution">
    <strong class="block768">SOLUTIONS & SERVICES</strong>
    <h2>혁신적인 솔루션으로 <b>세상을 바꿉니다</b></h2>
    <div class="button block768">
      <img src="../img/sub/visual_down.png">
      <span>스크롤하여 더보기</span>
    </div>
  </article>

  <article class="solution_box">
    <div class="tab">
      <div class="wrap">
        <ul>
          <li class="on"><a href="/solution">AI 선로 결함<br class="block1024"> 탐지 시스템</a></li>
          <li><a href="#">도시철도 유지보수관리<br class="block1024"> 정보시스템</a></li>
          <li><a href="#">정보시스템 <br class="block1024"> 운영 및 유지보수</a></li>
          <li><a href="#">온라인<br class="block1024"> 도움말 시스템</a></li>
        </ul>
      </div>
    </div>

    <div class="ai" id="ai">
      <div class="wrap">
        <div class="tit">
          <h3>iDetector는 인력중심 선로검사에 따른 안전사고를<br> 방지하기위해 개발된 선로 검사 자동화 시스템입니다.</h3>
          <p><span></span>AI 선로 결함 탐지 시스템이<br class="none768">무엇인가요?</p>
        </div>
        <ul>
          <li>
            <div class="img"></div>
            <div class="txt">
              <p>선로 표면 검사</p>
              <span>AI 딥러닝 기술을 이용한 선로표면 이상여부 탐지</span>
            </div>
          </li>
          <li>
            <div class="img"></div>
            <div class="txt">
              <p>선로 단면 검사</p>
              <span>레이저와 3D센서를 이용한 선로단면 검사</span>
            </div>
          </li>
          <li>
            <div class="img"></div>
            <div class="txt">
              <p>전차선 열화상 검사</p>
              <span>열화상 카메라를 통하여 시설물 고발열 여부를 탐지</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="ai_system" id="ai_system">
      <div class="wrap">
        <div class="img">
          <img src="../img/sub/ai_system.png" class="none768">
          <div class="txt">
            <h4>iDetector 선로 결함 탐지 시스템
              <span>머신비전 카메라, 레이저 및 3D카메라가 운행열차 하부 좌·우측<br> 2조 1쌍으로 장착되어 선로와 시설물의 결함을 탐지합니다.</span>
            </h4>
          </div>
          <img src="../img/sub/ai_system_mobile.png" class="block768">
          <ol class="none768">
            <li><span></span>열화상 카메라</li>
            <li><span></span>우측 레이저 센서</li>
            <li><span></span>머신비전 카메라</li>
            <li><span></span>좌측 레이저 센서</li>
            <li><span></span>우측 3D 센서</li>
            <li><span></span>좌측 3D 센서</li>
          </ol>
          <ol class="block768">
            <li><span></span>열화상 카메라</li>
            <li><span></span>좌측 레이저 센서</li>
            <li><span></span>우측 레이저 센서</li>
            <li><span></span>우측 3D 센서</li>
            <li><span></span>머신비전 카메라</li>
            <li><span></span>좌측 3D 센서</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="data">
      <div class="wrap">
        <ul>
          <li>
            <div class="txt">
              <p>결합 학습 데이터 수</p>
              <b>1만건 이상</b>
              <span>EfficientNet과 Yolo-v5 기반의 iDetector는 <br>1만건 이상의 학습데이터로 신뢰할 수 있습니다.</span>
            </div>
          </li>
          <li>
            <div class="txt">
              <p>탐지 정확도</p>
              <b>98% 이상</b>
              <span>iDetector는 98% 이상의<br> 정확도로 탐지합니다.</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="what">
      <div class="wrap">
        <div class="txt">
          <b>인공지능 선로 결함 탐지 시스템은 정확하고 빠른<br> 기술력을 통해 수많은 인명 사상을 방지하고,<br> 막대한 피해복구비 절감을 가능하게 합니다.</b>
          <p><span></span>인공지능 선로 결함 탐지 시스템<br> 도입의 장점은?</p>
        </div>
        <ul>
          <li>
            <div>
              <span></span>
              <p>99.98%</p>
              <b>검사시간 단축</b>
            </div>
          </li>
          <li>
            <div>
              <span></span>
              <p>98%</p>
              <b>이상의 정확도</b>
            </div>
          </li>
          <li>
            <div>
              <span></span>
              <p>연 200억</p>
              <b>피해복구비 절감</b>
            </div>
          </li>
          <li>
            <div>
              <span></span>
              <p>검사자</p>
              <b>인명 사상 방지</b>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>
